
<br> <br><br> <br>
<!-- <button class="spiner">Click me</button>
<br> <br>

<div class="body">
    <div class="container">
        <div class="ring"></div>
        <div class="ring"></div>
        <div class="ring"></div>
        <p style="color: #fff;">Loading</p>
    </div>
</div>





<div class="login-container">
    <h2>Login</h2>
    <form action="login.php" method="POST">
        <div class="input-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="input-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit" class="btn">Login</button>
    </form>
    <div class="forgot-password">
        <a href="#">Forgot your password?</a>
    </div>
</div>

<i class="bi bi-facebook"></i>
<i class="bi bi-youtube"></i>
<i class="bi bi-twitter-x"></i>
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter-x" viewBox="0 0 16 16">
    <path d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865l8.875 11.633Z"/>
  </svg> -->

<section>
  <div class="brand-container">
    <h2 style="text-align: center;font-weight: 600; font-size: 55px !important; margin-bottom: 35px;">Connected with the world <br> premier 80+ brands</h2>
    <div class="brand-row">
      <div class="brand-circle">
        <img src="http://localhost:4100/assets/images/clients/c1.jpg" alt="Muast" />
      </div>
      <div class="brand-circle">
        <img src="http://localhost:4100/assets/images/clients/c2.png" alt="Gate.io" />
      </div>
      <div class="brand-circle">
        <img src="http://localhost:4100/assets/images/clients/c3.png" alt="Gate.io" />
      </div>
    </div>
    <div class="brand-row2">
      <div class="brand-circle">
        <img src="http://localhost:4100/assets/images/clients/c4.svg" alt="Nextech" />
      </div>
      <div class="brand-circle">
        <img src="http://localhost:4100/assets/images/clients/c5.png" alt="teamapt" />
      </div>
      <div class="brand-circle">
        <img src="http://localhost:4100/assets/images/clients/c6.png" alt="Wattse" />
      </div>
      <div class="brand-circle">
        <img src="http://localhost:4100/assets/images/clients/c7.webp" alt="Wattse" />
      </div>
    </div>
    <div class="brand-row3">
      <div class="brand-circle">
        <img src="http://localhost:4100/assets/images/clients/c8.png" alt="Nextech" />
      </div>
      <div class="brand-circle">
        <img src="http://localhost:4100/assets/images/clients/c9.png" alt="teamapt" />
      </div>
      <div class="brand-circle">
        <img src="http://localhost:4100/assets/images/clients/c10.png" style="width: 60px !important;" alt="Wattse" />
      </div>
      <div class="brand-circle">
        <img src="http://localhost:4100/assets/images/clients/c11.png" alt="Wattse" />
      </div>
      <div class="brand-circle">
        <img src="http://localhost:4100/assets/images/clients/c12.png" alt="Wattse" />
      </div>
    </div>
  </div>


</section>
