<section>
  <div class="container">
    <div class="row cart" style="padding: 50px;">
      <div class="col-sm-8 iteamBlock">
        <div class="addressStrip">
          <p class="base-highlight">Check delivery time & services</p>
          <div class="base-changeBtn">ENTER PIN CODE</div>
        </div>
        <div class="headerUndefined">
          <i class="bi bi-piggy-bank headerIcon"></i>
          <div style="margin-left: 15px;">
            <p class="headerMainText">Hurray! You will save Rs. 5,000 on this order</p>
            <p class="headerInfo">Shop now with Early Access and get your favourites products at
              sale prices.</p>
          </div>
        </div>
        <div class="messageContainer">
          <div class="offers">
            <i class="bi bi-percent discountIcon"></i>
            <div class="offerstitle ">Available Offers</div>
            <div>
              <li class="offersMessage "><span>10% Instant Discount on ICICI Bank Credit and Debit Cards on a min spend
                  of ₹3,500. TCA</span></li>
              <div class="offersMore "><span class=" ">Show More</span>
                <i class="bi bi-chevron-down arrowIcon"></i>
              </div>
            </div>
          </div>
          <div></div>
        </div>
        <div class="bulkActionStrip">
          <div class="bulkselectionIcon">
            <input class="activeIcon" type="checkbox">
          </div>
          <div class="bulkmessage">
            <span class="bulkItemSelected">1/1 ITEMS SELECTED</span>
          </div>
          <div class="inlineButton">
            <div class="bulkButton"><button class="ButtonRemove">REMOVE</button></div>
            <div class="bulkButton"><button class="ButtonWishlist">MOVE TO WISHLIST</button></div>
          </div>
        </div>

        <div id="cartItemsList">
          <div class="itemMargin">
            <div>
              <div class="itemBase">
                <div></div>
                <div class="itemContainer-base-item ">
                  <div class="itemLeft">
                    <div class=" selectionIndicator">
                      <div class="itemComponentsAnimat">
                        <input class="activeProduct " type="checkbox">
                      </div>
                    </div>
                    <div class="" style="background: rgb(229, 241, 255); height: 148px; width: 111px;">
                      <img style="display: block;max-width: 100%;height: auto;" src="../../assets/image/pant.avif"
                        alt="">
                    </div>
                  </div>
                  <div class="itemRight">
                    <div class="itemDetails">
                      <div>
                        <div class="itemBrand">Calvin Klein Jeans</div>
                        <a class="itemContainer-base-itemLink" href="">Men Slim Fit Heavy Fade Mid-Rise Jeans</a>
                      </div>
                      <div class="itemSeller">
                        <div class="itemSellerData">Sold by: Platinum Fashions</div>
                      </div>
                      <div class="itemSizeAndQty">
                        <div class="sizeAndQty">
                          <div class="itemSize"><span class="">Size: 30</span><i
                              class="bi bi-caret-down-fill dropDown"></i></div>
                          <div class="itemQuantity"><span class="">Qty: 1</span><i
                              class="bi bi-caret-down-fill dropDown"></i></div>
                        </div>
                        <div class="lowUnitCount">9 left</div>
                      </div>
                      <div class="itemPrice">
                        <div class="priceBold ">
                          <div><i class="bi bi-currency-rupee currency"></i>4,999</div>
                        </div>
                        <div class="discountBlock"><span class="strikedAmount"><s
                              class="priceStrike ">9,999</s></span><span class="itemDiscount">50% OFF</span></div>
                      </div>
                      <div>
                        <div class="returnPeriod">
                          <div class="returnIcon">
                            <i class="bi bi-arrow-return-left"></i>
                          </div>
                          <div class="returnText"><span class="returnDays">14 days</span>
                            <span style="color: #94969f;"> return available</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <i class="bi bi-x closeIcon"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="loginNudge">
          <div class="imageBannner">
            <picture class="imgResponsive">
              <img src="../../assets/image/loginbanner.webp" alt="" class="imgResponsive">
            </picture>
          </div>
          <div class="logiMessage">
            <div class="nudgeMessage">Login to see items from your existing bag and wishlist.</div>
            <a href="" class="loginNow">LOGIN NOW</a>
          </div>
        </div>
      </div>


      <!-- priceBlock -->

      <div class="col-sm-4 priceBlock">
        <div class="couponsHeader">
          <p>Coupons</p>
        </div>
        <div class="couponsContent">
          <i class="bi bi-tag couponIcon"></i>

          <div class="couponsLabel ">Apply Coupons</div>
          <button font-size="body3" font-weight="bold" role="button" class="css-15k6cs5">
            <div class="css-xjhrni">APPLY</div>
          </button>
          <div class="couponMessage">
            <a href="" class="couponsLogIn">Login</a><span> to get upto ₹500 OFF on first order</span>
          </div>
        </div>
        <div class="donationStrip">Support transformative social work in India</div>
        <div class="donationBody">
          <div class="donationTitle">
            <input class=" donationIcon" type="checkbox">
            Donate and make a difference
          </div>
          <div class="donationPill">
            <div class="pillView">
              <div class="normalPill" data-key="10">
                <div class="pillTextStyle">₹10</div>
              </div>
              <div class="normalPill" data-key="50">
                <div class="pillTextStyle">₹50</div>
              </div>
              <div class="normalPill" data-key="100">
                <div class="pillTextStyle">₹100</div>
              </div>
            </div>
          </div>
          <div class="donationKnowMore">Know More</div>
          <div class="donationStrip">Support transformative social work in India</div>
        </div>

        <div class="priceBase">
          <div class="priceHeader">PRICE DETAILS (1 Item)</div>
          <div class="priceBreakUp" id="priceBlock">
            <div class="priceDetailRow "><span class=" ">Total MRP</span><span
                class="priceDetailValue "><span></span><span> <span class="">₹</span>9,999</span></span></div>
            <div class="priceDetailRow "><span class=" ">Discount on MRP</span><span
                class="priceDetailValue priceDetailDiscount"><span>-</span><span> <span
                    class="">₹</span>5,000</span></span></div>
            <div class="priceDetailRow "><span>Coupon Discount</span><span
                class="priceDetailValue priceDetailAction">Apply Coupon</span></div>
            <div class="priceDetailRow "><span class=" ">Platform Fee<span class="btnKnow priceDetailAction"> Know
                  More</span></span><span class="priceValue"><span
                  class="priceDetailDiscount priceDetailValue">FREE</span></span></div>
            <div class="priceDetailRow "><span>Shipping Fee
                <div class="priceInfoText">
                  <button font-weight="bold" role="button" class="btnKnow">
                    <span class="knowM"> Know More</span>
                  </button>
                </div>
              </span><span class="priceValue"><span class="priceSpaceRight"><s>₹79</s></span> <span
                  class="priceDetailDiscount"> FREE</span></span>
              <div class="priceCalloutText">Free shipping for you</div>
            </div>
            <div class="priceTotal "><span class=" ">Total Amount</span><span
                class="priceDetailValue "><span></span><span> <span class="priceTotalIcon">₹</span>4,999</span></span>
            </div>
          </div>
        </div>

        <div>
          <button width="100%" letterspacing="1px" font-weight="bold" role="button" class="btnPlace">
            <div class="btnDiv">
              PLACE ORDER
            </div>
          </button>
        </div>

      </div>
    </div>

  </div>
</section>
