<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Chart</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="data">


      <div class="row">
        <div class="col-sm-6">
          <!-- polarArea -->
          <div style="margin: 15px 0;">
            <div style="padding: 15px;border-radius: 3px;background-color: #ffffff;">
              <div class="mb-3">
                <h5 style="font-size: 18px;font-weight: 500;color: #012970;">Budget Report
                  <span style="font-size: 14px;color: #595c5f;font-weight: 400;"> | This Month</span>
                </h5>
                <i style="display: flex;justify-content: end;margin-top: -29px;color: #899bbd;font-size: 16px;"
                  class="bi bi-three-dots"></i>
              </div>
              <canvas baseChart class="chart" [data]="polarAreaChartData" [legend]="polarAreaLegend"
                [type]="polarAreaChartType">
              </canvas>
            </div>
          </div>
          <!-- polarArea end -->

          
        </div>

        <div class="col-sm-6">
          <!-- doughnut area  -->
          <div class="mb-3" style="padding: 15px;border-radius: 3px;background-color: #ffffff;">
            <div class="mb-3">
              <h5 style="font-size: 18px;font-weight: 500;color: #012970;">Budget Report
                <span style="font-size: 14px;color: #595c5f;font-weight: 400;"> | Today</span>
              </h5>
              <i style="display: flex;justify-content: end;margin-top: -29px;color: #899bbd;font-size: 16px;"
                class="bi bi-three-dots"></i>
            </div>
            <canvas baseChart class="chart" [data]="doughnutChartData" [type]="doughnutChartType">
            </canvas>
          </div>
          <!-- doughnut area end  -->
        </div>
      </div>


    </div>
  </div>
</div>