<div class="container ">
    <br><br>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-5">
            <div class="contact-us " >
                <h1>{{'contactUs' | translate}}</h1>
                <p >05 Avenue, Lokele, Commune de la Gombe </p>
                <p> Kinshasa – RD Congo</p>
                <div class="contactInfo" style="text-align: center;">
                    <p>Mobile:+243820044550</p>
                    <p>info@virtualgoalintl.com</p>
                </div>
            </div>
            <br>
            <div class="social-icon">

                <a href=""><img  src="../../assets/fb.png" alt=""></a>
                <a href=""><img  src="../../assets/tt.png" alt=""></a>
                <a href=""><img  src="../../assets/insta.png" alt=""></a>
                <a href=""><img  src="../../assets/linked.png" alt=""></a>


                <!-- <div style="width: 25%;display: flex;justify-content: center;align-items: center;">
                    <div style="height: 45px;width: 45px;background-color: #3a589b;display: flex;justify-content: center;align-items: center;">
                        <a href=""><i class="fa fa-facebook contact-social"></i></a>
                    </div>
                </div>
                <div style="width: 25%;display: flex;justify-content: center;align-items: center;">
                    <div style="height: 45px;width: 45px;background-color: #00abf1;display: flex;justify-content: center;align-items: center;">
                        <a href=""><i class="fa fa-twitter contact-social"></i></a>
                    </div>
                </div>
                <div style="width: 25%;display: flex;justify-content: center;align-items: center;">
                    <div style="height: 45px;width: 45px;background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);display: flex;justify-content: center;align-items: center;">
                        <a href=""><i class="fa fa-instagram contact-social" style="  color: white;"></i></a>
                    </div>
                </div>
                <div style="width: 25%;display: flex;justify-content: center;align-items: center;">
                    <div style="height: 45px;width: 45px;background-color: #0077b5;display: flex;justify-content: center;align-items: center;">
                        <a href=""><i class="fa fa-linkedin contact-social"></i></a>
                    </div>
                </div> -->

            </div>
            <br>
        </div>
        <div class="col-sm-5 contactForm" >
            <div class="input-box">
                <div class="inputs">
                    <input class="input-style" type="text" name="" id="" placeholder="{{'entetrFirstName' | translate}}">
                    <input class="input-style" type="text" name="" id="" placeholder="{{'Entetr Last Name' | translate}}">
                    <input class="input-style" type="text" name="" id="" placeholder="{{'entetrEmail' | translate}}">
                    <input class="input-style" type="text" name="" id="" placeholder="{{'entetrContactNumber' | translate}}">
                    <input class="input-style" type="text" name="" id="" placeholder="{{'enterYourMessage' | translate}}">

                </div>
                <br>
                <div class="submit">
                    <button data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="send-button">
                        {{'send' | translate}}
                    </button>
                </div>
            </div>
        </div>
        <div class="col-sm-1"></div>
    </div>
</div><br>
<div class="iframe">
</div>
<br>
<div class="container map">
    <iframe allowfullscreen="" frameborder="0"
        src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d31828.204412971507!2d15.279194687703207!3d-4.311851305041421!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1s+05+Avenue+Lokele%2C+Commune+de+la+Gombe+Kinshasa+%E2%80%93+RD+Congo!5e0!3m2!1sen!2sin!4v1538309250891"></iframe>
</div>


<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="background-color: transparent !important;
        display: flex;justify-content: center;align-items: center;border: none !important;">
            <!-- <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div> -->
            <div  style="position: relative;background-color: #fff;padding: 20px;border-radius: 4px;">
                <div style="position: absolute;top: -42px;text-align: center;left: 40%;">
                    <img src="/assets/image/success.png" style="height: 80px;width: 80px;" alt="">
                </div><br><br><br>
                <div style="text-align: center;">
                    <h4>Thank you!</h4>
                    <p>Your deatails has been submited succesfully.</p><br>
                    <button data-bs-dismiss="modal" aria-label="Close" style="background-color: #74d251;border: none !important;
                    padding: 8px 30px;color: #fff;width: 100%; border-radius: 4px;">ok</button>
                </div>
            </div>
            <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
        </div>
    </div>
</div>