<!-- <header>
    <h2>{{'gaboneseTaxes' | translate}}</h2>
</header>

<main class="main-container" style="padding-top: 70px;">

    <div class="tab-view-container">
        <button [class.selected]="selectedTab === 'all'" (click)="handleTabClick('all')">{{'all' | translate}}</button>
        <button [class.selected]="selectedTab === list.id" *ngFor="let list of serviceList"
            (click)="handleTabClick(list.id)"> {{ language === 'en' ? list.serviceName : list.frenchServiceName
            }}</button>
    </div> -->
    <!-- tax-list.component.html -->
    <!-- <div class="tax-list">
        <ul>
            <li *ngFor="let tax of filteredSubServiceList" class="tax-item">
                <img [src]="tax.subserviceImage" alt="{{ tax.name }} icon" class="tax-icon" />
                <div class="tax-info">
                    <h3>{{ language === 'en' ? tax.name : tax.frenchName }}</h3>
                    <p>{{ language === 'en' ? tax.description : tax.frenchDescription }}</p>
                </div>
            </li>
        </ul>
    </div>
</main> -->
