.form-container {
    padding: 15px;
}

.stepper {
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    padding: 0 20px !important;
    background-color: #f0efef;
    // border-bottom: 1px solid #bebdbd;
    // border-top: 1px solid #bebdbd;
    padding: 7px 0;
}

.stepper__step {
    position: relative;
    min-width: 130px;
    display: flex;
    align-items: center;
}

.stepper__step::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    background-color: #dfdfdf;
    z-index: 1;
}

.stepper__step:last-child::before {
    display: none;
}

.stepper__step__circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e7e7;
    color: white;
    font-weight: bold;
    z-index: 2;
    font-size: 10px;

}

.stepper__step__label {
    font-size: 12px;
    text-align: center;
    margin-top: 16px;
    background-color: #f0efef !important;
    padding: 2px 10px;
    z-index: 2;
}

.stepper__step--active .stepper__step__circle {
    background-color: #005DA4;

}

.stepper__step--active .stepper__step__label {
    color: #005DA4;
    font-weight: 700;
}

.stepper__step--active::before {
    background-color: #005DA4;
}


.stepper__step--completed .stepper__step__circle {
    background-color: green;
}

.stepper__step--completed .stepper__step__label {
    color: green;
    font-weight: 700;
}

.stepper__step--completed::before {
    background-color: green;

}


.stepper__step--upcoming .stepper__step__circle {
    background-color: #b1b1b1;
}

.stepper__step--upcoming .stepper__step__label {
    color: #b1b1b1;
}

.stepper__step--upcoming::before {
    background-color: #b1b1b1;

}

.stepper-container {
    z-index: 1000;
}

.next-btn-container {
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 10px;
    left: 0;
    z-index: 100;
    background-color: #ffffff;
}




// header css
.header {
    height: 70px;
    width: 100%;
    position: fixed;
    left: 0;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    gap: 15px;
    z-index: 1000;

    .header__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 15px;
    }

    h6 {
        margin: 0;
        font-size: 16px;
        font-weight: 700;
    }

    p {
        margin: 0;
        font-size: 12px;
    }
}

.header-pt {
    padding-top: 70px !important;
}


.selected {
    background-color: #424d5f !important;
    color: #ffffff;
}

.document-btn {
    padding: 13px;
    border: 1px solid #e4e1e1;
    margin-right: 8px;
    border-radius: 15px;
    background-color: #f0f0f0;
}

webcam {
    height: 100% !important;
    width: 100% !important;
    object-fit: cover;
}

@media(max-width:768px) {
    webcam {
        width: 100% !important;
    }
}


::-webkit-scrollbar {
    display: none;
}
