<section style=" margin-bottom: 20px;">

    <div class="row " style="height: 80vh; padding: 90px 80px;">

        <div class="col-sm-2">
            <strong>
                <p>Fb.&nbsp; /&nbsp; Ig.&nbsp; / &nbsp; Tw.&nbsp; / &nbsp; Be.</p>
            </strong>
        </div>

        <div class="col-sm-3">

            <h3 style="font-size: 16px;"><b>Rotterdam</b></h3> <br>
            <b>Ohio Digital Media LTD.</b>
            <br>Graaf Florisstraat 22A, <br>
            3021 CH Rotterdam <br>
            Netherlands <br> <br>
            <b>Barcelona</b> <br> <br>
            <b>Ohio Digital LTD.</b> <br>
            365 Gran Via de Corts <br>
            Catalanes, BA 08015

        </div>

        <div class="col-sm-3">

            <h6><b>Work inquiries</b></h6> <br>
            Interested in working with us? <br>
            <b class="hover2line"><a href="">hello@clbthemes.com</a></b> <br> <br>
            <b>Career</b> <br> <br>
            Looking for a job opportunity? <br>
            <b class="hover2line"><a href="">See open positions</a></b>
        </div>

        <div class="col-sm-4">
            <h6><b>Sign up for the newsletter</b></h6><br>
            <div class="signUp" style="margin-bottom: 10px;">
                <span>
                    <input class="inputSign" type="email" placeholder="Email address">
                </span>
                <button class="btnSign">Sign up</button>
            </div>
            <input class="checkBox" type="checkbox">
            <span>I’m okay with getting emails and having <br>
                that activity tracked to improve my <br>
                experience.</span>
        </div>
    </div>
</section>



<!-- <div style="display: flex;">
    <div class="check">
        <button class="hover-1">Menu types</button><br>
        <button class="hover-2">Show projects</button>
    </div>
</div><br><br><br> -->


<!-- <div class="card">
    <div class="card-header" (click)="toggleCard()">
        Card Title
        <span class="toggle-icon" [ngClass]="{'open': isExpanded}">&#x25B6;</span>
    </div>
    <div class="card-body" [@expandAnimation]="isExpanded ? 'expanded' : 'collapsed'">
        <p>This is the card content.</p>
    </div>
</div> -->
<!-- <br><br><br> -->