<section class="contactMain">
    <div class="contact">
        <img class="imgLeft" src="../../assets/image/about/image-left.png" alt="">
        <img class="imgRight" src="../../assets/image/about/Image-right.png" alt="">
        <h1 class="t-1">Contact</h1>
    </div>



    <section class="contactDetail">
        <div class="container mt-5">
            <div class="page ">
                <div class="data">
                    <div class="row">
                        <div class="col-sm-6 mt-5">
                            <div>
                                <h2 style="display: inline;">Be</h2>
                                <h2 style="display: inline; color: #570d12;"> In Touch</h2>
                                <p>Send your requirements for a website, we will research your <br /> specification and
                                    competitors, create a prototype of the website for <br /> free and sed a result to
                                    you! It will be something amazing!</p>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="tittle">
                                        <div class="box-icon">
                                            <div class="icon">
                                                <i class="bi bi-geo-fill"></i>
                                            </div>
                                        </div>
                                        <div>
                                            <h3>Address</h3>
                                            <p>{{addrress}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="tittle">
                                        <div class="box-icon">
                                            <div class="icon">
                                                <i class="bi bi-envelope"></i>
                                            </div>
                                        </div>
                                        <div>
                                            <h3>Email</h3>
                                            <p> {{mail}} </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="tittle">
                                        <div class="box-icon">
                                            <div class="icon">
                                                <i class="bi bi-telephone"></i>
                                            </div>
                                        </div>
                                        <div>
                                            <h3>Phone number</h3>
                                            <p>{{contact}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="tittle">
                                        <div class="box-icon">
                                            <div class="icon">
                                                <i class="bi bi-clock-history"></i>
                                            </div>
                                        </div>
                                        <div>
                                            <h3>Working hours</h3>
                                            <p>Mon - Fri:10:00 - 19:00 <br/> Sat - Sun day Off</p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="col-sm-6 mt-5">
                            <h2 style="display: inline; ">Get a </h2>
                            <h2 style="display: inline; color: #570d12;">Free Prototype of </h2>
                            <h2 style="display: inline;">Your </h2>
                            <h2>Future Website! </h2>
                            <p>Send your requirements for a website, we will research your specification and
                                competitors, create a prototype of the website for free and sed a result to you!</p>
                            <div class="form">
                                <div class="inputs">
                                    <div class="formDetail">
                                        <input class="allInputs" type="name" placeholder="Your Name">
                                        <input class="allInputs" type="email" placeholder="Your Email">
                                    </div>

                                    <div class="mb-4" style="width: 100%;">
                                        <input style="width: 100%;" class="allInputs" type="text" placeholder="Subject">
                                    </div>
                                    <div class="mb-3" style="width: 100%;">
                                        <textarea style="width: 100%;" class="allInputs" name="message" id="" cols="25"
                                            rows="6" placeholder="Message"></textarea>
                                    </div>
                                </div>
                                <div style="display: flex; justify-content: center;">
                                    <button class="btnn">Send Message</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>



</section>