<section class="main">
    <div class="container products-box">
        <div class="tittleHead" >
            <h1>{{'ourProduct' | translate}}</h1>
            <p>{{'availableMobile'  | translate}}</p>
        </div>
        <div>
            <div class="row products-heading" >
                <div class="col-lg-3 col-md-4 col-sm-4">
                    <div class="productsTittle">
                        <span>VgoalMarket</span>
                    </div>
                    <div class="productsImage">
                        <div class="responsive-product-box">
                            <img src="../../assets/market.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-4">
                    <div class="productsTittle">
                        <span>VgoaleWallet</span>
                    </div>
                    <div class="productsImage">
                        <div  class="responsive-product-box">
                            <img  src="../../assets/wallet.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-4">
                    <div class="productsTittle">
                        <span>VgoalTicket</span>
                    </div>
                    <div class="productsImage">
                        <div  class="responsive-product-box">
                            <img  src="../../assets/ticket.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-4">
                    <div class="productsTittle">
                        <span>VgoalMedicals </span>
                    </div>
                    <div class="productsImage">
                        <div  class="responsive-product-box">
                            <img  src="../../assets/medical.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>