<section> <br>
    <div class="container main">
        <div class="headingMain">
            <div >
                <button>{{'partners' | translate}}</button>
            </div> 
            <div class="line"></div>
        </div>
        <br>
        <div class="Partenaires">
            <span>{{'partners' | translate}}</span>
        </div>

        <div class="row mt-4">
            <div class="col-sm-4 col-lg-3 col-md-4 mt-3 " >
                <div class="client-box">
                    <img src="../../assets/11.png" alt="">
                    <div class="overlay">
                        <div class="overlay-text">
                            <span>AIRTEL MONEY</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-lg-3 col-md-4 mt-3">
                <div class="client-box">
                    <img src="../../assets/12.jpg" alt="">
                    <div class="overlay">
                        <div class="overlay-text">
                            <span>ORANGE MONEY</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-lg-3 col-md-4 mt-3">
                <div class="client-box">
                    <img src="../../assets/13.jpg" alt="">
                    <div class="overlay">
                        <div class="overlay-text">
                            <span>VODAFONE</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-lg-3 col-md-4 mt-3">
                <div class="client-box">
                    <img src="../../assets/14.jpg" alt="">
                    <div class="overlay">
                        <div class="overlay-text">
                            <span>SNEL</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-lg-3 col-md-4 mt-3 mt-4">
                <div class="client-box">
                    <img src="../../assets/15.jpg" alt="">
                    <div class="overlay">
                        <div class="overlay-text">
                            <span>DSTV</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-lg-3 col-md-4 mt-3 mt-4">
                <div class="client-box">
                    <img src="../../assets/16.jpg" alt="">
                    <div class="overlay">
                        <div class="overlay-text">
                            <span>CANAL+</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-lg-3 col-md-4 mt-3 mt-4">
                <div class="client-box">
                    <img src="../../assets/17.jpg" alt="">
                    <div class="overlay">
                        <div class="overlay-text">
                            <span>REGIDESO</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
 <br> <br>