<mat-nav-list style="color: aliceblue;">
  <div class="logo py-4">
    <img src="../../assets/img/logo.png" alt="Company Logo" />
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2">APPLICATIONS</h2>

  

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
    <mat-icon style="color: aliceblue;">dashboard</mat-icon> <span style="color: aliceblue;">Dashboard</span>
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
    <mat-icon style="color: aliceblue;">A</mat-icon> <span style="color: aliceblue;">Alerts</span>
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/components">
    <mat-icon style="color: aliceblue;">menu</mat-icon> <span style="color: aliceblue;">Components</span>
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/forms"> 
    <mat-icon style="color: aliceblue;"><i class="bi bi-journal-bookmark"></i></mat-icon> <span style="color: aliceblue;">Forms</span>
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/tables">
    <mat-icon style="color: aliceblue;">table</mat-icon> <span style="color: aliceblue;">Tables</span>
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/chart">
    <mat-icon style="color: aliceblue;">bar_charts</mat-icon> <span style="color: aliceblue;">Chart</span>
  </a>

  <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/details">
    <mat-icon style="color: aliceblue;">details</mat-icon> <span style="color: aliceblue;">Details</span>
  </a> -->
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/profile"> 
    <mat-icon style="color: aliceblue;">person_outline</mat-icon> <span style="color: aliceblue;">Profile</span> 
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/faq">
    <mat-icon style="color: aliceblue;"><i class="bi bi-question-circle"></i></mat-icon> <span style="color: aliceblue;">F.A.Q</span> 
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contact">
    <mat-icon style="color: aliceblue;">mail_outline</mat-icon> <span style="color: aliceblue;">Contact</span> 
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/register">
    <mat-icon style="color: aliceblue;">list_alt</mat-icon> <span style="color: aliceblue;">Register</span> 
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/log_in">
    <mat-icon style="color: aliceblue;">login</mat-icon> <span style="color: aliceblue;">Log in</span>
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/error">
    <mat-icon style="color: aliceblue;">error_outline</mat-icon> <span style="color: aliceblue;">Error 404</span> 
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/notifications">
    <mat-icon style="color: aliceblue;">notifications_active</mat-icon> <span style="color: aliceblue;">Notifications</span>
  </a>
</mat-nav-list>










<!-- <mat-nav-list>
    <div class="logo py-4">
        <img src="" alt="Company Logo">
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2" style="color: #fff;">APPLICATIONS</h2>
    <div *ngFor="let icons of icon">
        <a class="icon_list" mat-list-item routerLink=" " routerLinkactive="mat-list-item-active">
            <mat-icon >{{icons.icn}}</mat-icon><span style="color: #fff;">{{icons.name}}</span>
        </a>
    </div>
</mat-nav-list> -->