<section>
  <div class="about">
    <img class="imgLeft" src="../../assets/image/about/image-left.png" alt="">
    <img class="imgRight" src="../../assets/image/about/Image-right.png" alt="">
    <h1 class="t-1">About</h1>
  </div>
  <div>
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-4 aboutdiscription">
        <div class="about-info">
          <h2 style="display: inline;">We Are </h2>
          <h2 style="display: inline; color: #570d12;">Professional</h2>
          <h2>Digital Team</h2>
          <p class="p-1">Our web design company specializes in the professional creation of unique sites.</p>
          <div class="p-2">
            Our team constantly monitors the emergence of new technologies that we are not afraid to
            implement in web projects. We create only selling websites – this is an achievement by drawing
            the design and working out usability. The approach to each new project is individual, we treat
            every customer equally, regardless of the size of the company and its budget.
          </div>
        </div>
      </div>
      <div class="col-sm-6 aboutdiscriptionImage">
        <div><img src="../../assets/image/about/painting.JPG" alt=""></div>
      </div>
      <div class="col-sm-2"></div>

      <div class="col-sm-4 aboutdiscription">
        <div class="about-info">
          <h2 style="display: inline;">We Are </h2>
          <h2 style="display: inline; color: #570d12;">Professional</h2>
          <h2>Analysis</h2>
          <!-- <p class="p-1">Our web design company specializes in the professional creation of unique sites.</p> -->
          <div class="p-2">
            "We are professional" denotes a commitment to high standards, expertise, and excellence in one's field or
            occupation. It signifies a dedication to delivering quality work, adhering to ethical principles, and
            continuously improving skills and knowledge. This phrase encapsulates the attitude of individuals or
            organizations who approach their work with integrity, reliability, and competence. By embracing
            professionalism, individuals and businesses demonstrate reliability, trustworthiness, and a focus on
            achieving desired outcomes while upholding standards of excellence and ethical conduct.
          </div>
        </div>
      </div>
      <div class="col-sm-6 aboutdiscriptionImage">
        <div><img src="../../assets/image/about/analysis_dq.png" style="height: 400px; width: 400px;" alt=""></div>
      </div>
    </div>
  </div>
  <hr style="color: #570d12;">

  <div class="container about-detail">
    <div class="about-title" style="text-align: center;">
      <h2 style="display: inline;">Why</h2>
      <h2 style="display: inline; color: #570d12;"> choose</h2>
      <h2 style="display: inline;"> Us </h2>
      <p style="text-align: center;">Biggest brands in the automotive industry recommend our company as a reliable
        <br> corporate
        website developer
      </p>
    </div>
    <div class="row">
      <div class="col-sm-4 mt-3">
        <div class="box">
          <div class="tittle">
            <div class="box-icon">
              <div class="icon">
                <i class="bi bi-person-arms-up"></i>
              </div>
            </div>
            <h3>Big Experience</h3>
            <p>
              Many years of work in this field is an excellent indicator that companies trust us and in
              response we offer unique solutions.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 mt-3">
        <div class="box">
          <div class="tittle">
            <div class="box-icon">
              <div class="icon">
                <i class="bi bi-microsoft-teams"></i>
              </div>
            </div>
            <h3>Strong team</h3>
            <p>
              An excellent team of professionals will help you to bring all your ideas to life in the best
              possible way and with flexible functionality.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 mt-3">
        <div class="box">
          <div class="tittle">
            <div class="box-icon">
              <div class="icon">
                <i class="bi bi-universal-access-circle"></i>
              </div>
            </div>
            <h3>Personal solutions</h3>
            <p>
              Individual approach to your project. flexible solutions for your tasks to achieve your goals
              on the path to success.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
