/* General Styles */
.express-account-page {
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;
  padding: 16px;
  max-width: 450px;
  margin: 0 auto;
}

/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  padding: 12px 16px;
  z-index: 1000;
}

.back-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #005da4;
  transition: transform 0.3s ease;
}

.back-button:hover {
  transform: translateX(-5px);
}

.title {
  font-size: 20px;
  font-weight: bold;
  color: #333333;
  margin: 0;
  padding: 0;
}

/* Main Section */
.main-section {
  margin-top: 8vh; /* Adjusted for fixed header */
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* Cards */
.card {
  background-color: #ffffff;
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
  display: flex;
  align-items: center;
  padding: 7px 16px;
  border-radius: 16px 16px 0 0;
}

.icon {
  color: #ffffff;
  font-size: 22px;
  margin-right: 12px;
  transition: transform 0.3s ease;
}

.card:hover .icon {
  transform: scale(1.1);
}

.card h2 {
  font-size: 16px;
  color: #ffffff;
  margin: 0;
  font-weight: 600;
}

.card p {
  font-size: 14px;
  color: #555555;
  margin: 16px;
  line-height: 1.5;
}

/* Services Grid */
.services-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  padding: 16px;
}

.service-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  color: #005da4;
}

.service-item i {
  font-size: 24px;
}

.service-item span {
  font-size: 14px;
  text-align: center;
  color: #000;
}

/* Buttons */
.action-button {
  background-color: #ffcb05;
  color: #005da4  ;
  font-weight: 600;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  width: calc(100% - 32px);
  margin: 16px;
  transition: background-color 0.3s ease;
}

.action-button:hover {
  background-color: #004a8a;
}

/* Footer */
.footer {
  text-align: center;
  padding: 16px;
  background-color: #f5f5f5;
  border-radius: 8px;
  margin-top: 24px;
}

.quick-links {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-bottom: 12px;
}

.quick-links a {
  color: #005da4;
  text-decoration: none;
}

.quick-links a:hover {
  text-decoration: underline;
}

.contact-info {
  font-size: 14px;
  color: #555555;
}

.contact-info a {
  color: #005da4;
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
}
