<header>
    <h2>{{'myProfile' | translate}}</h2>
</header>
<main style="padding-top: 70px;">


    <div class="tax-list">
        <ul>

            <!-- User name -->
            <li class="tax-item">
                <div class="d-flex align-items-center">
                    <img src="img/flaticons/user.svg" class="tax-icon" />
                    <div class="tax-info">
                        <h3>{{'name' | translate}}</h3>
                        <p>John Doe</p>
                    </div>
                </div>
                <i class="bi bi-pencil"></i>
            </li>

            <!-- Date of Birth -->
            <li class="tax-item">
                <div class="d-flex align-items-center">
                    <img src="img/flaticons/calendar.svg" class="tax-icon" />
                    <div class="tax-info">
                        <h3>{{'dob' | translate}}</h3>
                        <p>01 Jan 1985</p>
                    </div>
                </div>
                <i class="bi bi-pencil"></i>
            </li>

            <!-- Address -->
            <li class="tax-item">
                <div class="d-flex align-items-center">
                    <img src="img/flaticons/globe.svg" class="tax-icon" />
                    <div class="tax-info">
                        <h3>{{'address' | translate}}</h3>
                        <p>123 Avenue Bouet, Libreville Gabon </p>
                    </div>
                </div>
                <i class="bi bi-pencil"></i>
            </li>

            <!-- Phone -->
            <li class="tax-item">
                <div class="d-flex align-items-center">
                    <img src="img/flaticons/contact.svg" class="tax-icon" />
                    <div class="tax-info">
                        <h3>{{'phone' | translate}}</h3>
                        <p>077 539768</p>
                    </div>
                </div>
                <i class="bi bi-pencil"></i>
            </li>

            <!-- Phone -->
            <li class="tax-item">
                <div class="d-flex align-items-center">
                    <img src="img/flaticons/envelope.svg" class="tax-icon" />
                    <div class="tax-info">
                        <h3>{{'email' | translate}}</h3>
                        <p>john.doe"&#64;"example.com</p>
                    </div>
                </div>
                <i class="bi bi-pencil"></i>
            </li>

            <div class="text-center mt-3">
                <button class="btn">{{'updateProfile' | translate}}</button>
            </div>
        </ul>
    </div>
</main>