<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Contact</div>
    <div class="page__content shadow p-3 position-relative">
        <div class="data">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form">
                        <div class="inputs">
                            <div class="mb-2" style="display: flex; justify-content: space-between; width: 100%;">
                                <input class="allInputs" style="width: 48%;" type="name" placeholder="Your Name">
                                <input class="allInputs" style="width: 48%;" type="email" placeholder="Your Email">
                            </div>

                            <div class="mb-4" style="width: 100%;">
                                <input style="width: 100%;" a class="allInputs" type="text" placeholder="Subject">
                            </div>
                            <div class="mb-3" style="width: 100%;">
                                <textarea style="width: 100%;" class="allInputs" name="message" id="" cols="25" rows="6"
                                    placeholder="Message"></textarea>
                            </div>
                        </div>
                        <div style="display: flex; justify-content: center;">
                            <button class="btn btn-success  ">Send Message</button>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    
                </div>
            </div>
        </div>
    </div>
</div>