.splash-screen {
    height: 89vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;

    img {
        height: 68px;
        width: auto;
    }
}

.on-bottom {
    position: fixed;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}
