<!-- ======= Sticky header =============== -->
<!-- <section class="sticky-header">
    <img src="assets/logo/envato_market.svg" alt="">
    <button>Buy Now</button>
</section> -->
<!-- ======= Sticky header end=============== -->

<section id="nav-bar-section" >
    <nav class="d-flex align-items-center navbar">
        <div class="navbar-logo">
            <div class="buger">
                <div>
                    <div class="line"></div>
                    <div class="line2 mt-2"></div>
                </div>
            </div>
            <div>
                <img src="assets/logo/OhioLogo.svg" alt="">
            </div>
        </div>
        <div class="nav-item">
            <div class="navbar">
                <ul class="nav-list">
                    <li class="click-to-show"  ><a href="" style="text-decoration: none;">Element</a> <img class="logo" style="height: 15px;width: 15px;"
                            src="assets/icon/down-arrow.png" alt="">
                        <div class="drop-down">
                            <div class="row" style="background-color: #f7f8f5; padding: 18px 0;">
                                <div class="col-sm-2">
                                    <span style="color: #9e9e9e;font-size: 12px;">WIDGETS</span>
                                    <ul class="item-list" style="list-style: none;">
                                        <li (click)="navigateToAccordion()" >Accordion</li>
                                        <li (click)="navigateToLogin()">Login</li>
                                        <li>Banner</li>
                                        <li>Blog Posts</li>
                                        <li>Button</li>
                                        <li>Call to Action</li>
                                        <li>Carousel</li>
                                        <li>Circle Progress</li>
                                        <li>Clients Logo</li>
                                    </ul>
                                </div>
                                <div class="col-sm-2">
                                    <span style="color: #9e9e9e;font-size: 12px;">WIDGETS</span>
                                    <ul class="item-list" style="list-style: none;">
                                        <li>Compare</li>
                                        <li>Contact Form</li>
                                        <li>Countdown</li>
                                        <li>Counter</li>
                                        <li>Dynamic Text</li>
                                        <li>Fullscreen Slider</li>
                                        <li>Gallery</li>
                                        <li>Google Map</li>
                                        <li>Heading</li>
                                    </ul>
                                </div>
                                <div class="col-sm-2">
                                    <span style="color: #9e9e9e;font-size: 12px;">WIDGETS</span>
                                    <ul class="item-list" style="list-style: none;">
                                        <li>Horizontal Accordion</li>
                                        <li>Icon Box</li>
                                        <li>Instagram Feed</li>
                                        <li>Message</li>
                                        <li>Parallax</li>
                                        <li>Portfolio Projects</li>
                                        <li>Pricing List</li>
                                        <li>Pricing Table</li>
                                        <li>Process</li>
                                    </ul>
                                </div>
                                <div class="col-sm-2">
                                    <span style="color: #9e9e9e;font-size: 12px;">WIDGETS</span>
                                    <ul class="item-list" style="list-style: none;">
                                        <li>Progress Bar</li>
                                        <li>Services Table</li>
                                        <li>Shop Category</li>
                                        <li>Social Networks</li>
                                        <li>WIDSubscribe FormGETS</li>
                                        <li>Tabs</li>
                                        <li>Team Member</li>
                                        <li>Testimonial</li>
                                        <li>Video</li>
                                    </ul>
                                </div>
                                <div class="col-sm-2">
                                    <span style="color: #9e9e9e;font-size: 12px;">MENUS</span>
                                    <ul class="item-list" style="list-style: none;">
                                        <li>Standard</li>
                                        <li>Centered</li>
                                        <li>With Center Logo</li>
                                        <li>With Top Logo</li>
                                        <li>Sidebar Wide</li>
                                        <li>Sidebar Top Hamburger</li>
                                        <li>Sidebar Center Hamburger</li>
                                    </ul>
                                </div>
                                <div class="col-sm-2">
                                    <span style="color: #9e9e9e;font-size: 12px;">HAMBURGER MENUS</span>
                                    <ul class="item-list" style="list-style: none;">
                                        <li>Standard Hamburger</li>
                                        <li>Centered Hamburger</li>
                                        <li>Creative Hamburger</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="click-to-show">Portfolio
                        <img class="logo" style="height: 15px;width: 15px;" src="assets/icon/down-arrow.png" alt="">
                        <div class="drop-down">
                            <div class="row" style="background-color: #f7f8f5; padding: 18px 0;">
                                <div class="col-sm-2">
                                    <span style="color: #9e9e9e;font-size: 12px;">ARCHIVE</span>
                                    <ul class="item-list" style="list-style: none;">
                                        <li>Classic</li>
                                        <li>Classic: Contained</li>
                                        <li>Classic: Metro</li>
                                        <li>Minimal</li>
                                        <li>Minimal: Metro</li>
                                        <li>Caption Cursor</li>
                                        <li>Caption Cursor: Metro</li>
                                        <li>Sticky: Contained</li>
                                        <li>Sticky: Metro</li>
                                    </ul>
                                </div>
                                <div class="col-sm-2">
                                    <span style="color: #9e9e9e;font-size: 12px;">SLIDER</span>
                                    <ul class="item-list" style="list-style: none;">
                                        <li>Compare</li>
                                        <li>Contact Form</li>
                                        <li>Countdown</li>
                                        <li>Counter</li>
                                        <li>Dynamic Text</li>
                                        <li>Fullscreen Slider</li>
                                        <li>Gallery</li>
                                        <li>Google Map</li>
                                        <li>Heading</li>
                                    </ul>
                                </div>
                                <div class="col-sm-2">
                                    <span style="color: #9e9e9e;font-size: 12px;">SLIDER PROJECT</span>
                                    <ul class="item-list" style="list-style: none;">
                                        <li>Horizontal Accordion</li>
                                        <li>Icon Box</li>
                                        <li>Instagram Feed</li>
                                        <li>Message</li>
                                        <li>Parallax</li>
                                        <li>Portfolio Projects</li>
                                        <li>Pricing List</li>
                                        <li>Pricing Table</li>
                                        <li>Process</li>
                                    </ul>
                                </div>
                                <div class="col-sm-2">
                                    <span style="color: #9e9e9e;font-size: 12px;">PAGINATION TYPES</span>
                                    <ul class="item-list" style="list-style: none;">
                                        <li>Progress Bar</li>
                                        <li>Services Table</li>
                                        <li>Shop Category</li>
                                        <li>Social Networks</li>
                                        <li>WIDSubscribe FormGETS</li>
                                        <li>Tabs</li>
                                        <li>Team Member</li>
                                        <li>Testimonial</li>
                                        <li>Video</li>
                                    </ul>
                                </div>
                                <div class="col-sm-2">
                                    <span style="color: #9e9e9e;font-size: 12px;">HOVER EFFECTS</span>
                                    <ul class="item-list" style="list-style: none;">
                                        <li>Standard</li>
                                        <li>Centered</li>
                                        <li>With Center Logo</li>
                                        <li>With Top Logo</li>
                                        <li>Sidebar Wide</li>
                                        <li>Sidebar Top Hamburger</li>
                                        <li>Sidebar Center Hamburger</li>
                                    </ul>
                                </div>
                                <div class="col-sm-2">
                                    <span style="color: #9e9e9e;font-size: 12px;">APPEAR EFFECTS</span>
                                    <ul class="item-list" style="list-style: none;">
                                        <li>Standard Hamburger</li>
                                        <li>Centered Hamburger</li>
                                        <li>Creative Hamburger</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="click-to-show">Blog <img class="logo" style="height: 15px;width: 15px;"
                            src="assets/icon/down-arrow.png" alt="">
                        <div class="drop-down">
                            <div class="row" style="background-color: #f7f8f5; padding: 18px 0;">
                                <div class="col-sm-2">
                                    <span style="color: #9e9e9e;font-size: 12px;">ARCHIVE</span>
                                    <ul class="item-list" style="list-style: none;">
                                        <li>Classic</li>
                                        <li>Classic: Contained</li>
                                        <li>Classic: Metro</li>
                                        <li>Minimal</li>
                                        <li>Minimal: Metro</li>
                                        <li>Caption Cursor</li>
                                        <li>Caption Cursor: Metro</li>
                                        <li>Sticky: Contained</li>
                                        <li>Sticky: Metro</li>
                                    </ul>
                                </div>
                                <div class="col-sm-2">
                                    <span style="color: #9e9e9e;font-size: 12px;">SLIDER</span>
                                    <ul class="item-list" style="list-style: none;">
                                        <li>Compare</li>
                                        <li>Contact Form</li>
                                        <li>Countdown</li>
                                        <li>Counter</li>
                                        <li>Dynamic Text</li>
                                        <li>Fullscreen Slider</li>
                                        <li>Gallery</li>
                                        <li>Google Map</li>
                                        <li>Heading</li>
                                    </ul>
                                </div>
                                <div class="col-sm-2">
                                    <span style="color: #9e9e9e;font-size: 12px;">SLIDER PROJECT</span>
                                    <ul class="item-list" style="list-style: none;">
                                        <li>Horizontal Accordion</li>
                                        <li>Icon Box</li>
                                        <li>Instagram Feed</li>
                                        <li>Message</li>
                                        <li>Parallax</li>
                                        <li>Portfolio Projects</li>
                                        <li>Pricing List</li>
                                        <li>Pricing Table</li>
                                        <li>Process</li>
                                    </ul>
                                </div>
                                <div class="col-sm-2">
                                    <span style="color: #9e9e9e;font-size: 12px;">PAGINATION TYPES</span>
                                    <ul class="item-list" style="list-style: none;">
                                        <li>Progress Bar</li>
                                        <li>Services Table</li>
                                        <li>Shop Category</li>
                                        <li>Social Networks</li>
                                        <li>WIDSubscribe FormGETS</li>
                                        <li>Tabs</li>
                                        <li>Team Member</li>
                                        <li>Testimonial</li>
                                        <li>Video</li>
                                    </ul>
                                </div>
                                <div class="col-sm-2">
                                    <span style="color: #9e9e9e;font-size: 12px;">HOVER EFFECTS</span>
                                    <ul class="item-list" style="list-style: none;">
                                        <li>Standard</li>
                                        <li>Centered</li>
                                        <li>With Center Logo</li>
                                        <li>With Top Logo</li>
                                        <li>Sidebar Wide</li>
                                        <li>Sidebar Top Hamburger</li>
                                        <li>Sidebar Center Hamburger</li>
                                    </ul>
                                </div>
                                <div class="col-sm-2">
                                    <span style="color: #9e9e9e;font-size: 12px;">APPEAR EFFECTS</span>
                                    <ul class="item-list" style="list-style: none;">
                                        <li>Standard Hamburger</li>
                                        <li>Centered Hamburger</li>
                                        <li>Creative Hamburger</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="click-to-show">Shop <img class="logo" style="height: 15px;width: 15px;"
                            src="assets/icon/down-arrow.png" alt="">
                        <div class="drop-down">
                            <div class="row" style="background-color: #f7f8f5; padding: 18px 0;">
                                <div class="col-sm-2">
                                    <span style="color: #9e9e9e;font-size: 12px;">ARCHIVE</span>
                                    <ul class="item-list" style="list-style: none;">
                                        <li>Accordion</li>
                                        <li>Badge</li>
                                        <li>Banner</li>
                                        <li>Blog Posts</li>
                                        <li>Button</li>
                                        <li>Call to Action</li>
                                        <li>Carousel</li>
                                        <li>Circle Progress</li>
                                        <li>Clients Logo</li>
                                    </ul>
                                </div>
                                <div class="col-sm-2">
                                    <span style="color: #9e9e9e;font-size: 12px;">SLIDER</span>
                                    <ul class="item-list" style="list-style: none;">
                                        <li>Compare</li>
                                        <li>Contact Form</li>
                                        <li>Countdown</li>
                                        <li>Counter</li>
                                        <li>Dynamic Text</li>
                                        <li>Fullscreen Slider</li>
                                        <li>Gallery</li>
                                        <li>Google Map</li>
                                        <li>Heading</li>
                                    </ul>
                                </div>
                                <div class="col-sm-2">
                                    <span style="color: #9e9e9e;font-size: 12px;">SLIDER PROJECT</span>
                                    <ul class="item-list" style="list-style: none;">
                                        <li>Horizontal Accordion</li>
                                        <li>Icon Box</li>
                                        <li>Instagram Feed</li>
                                        <li>Message</li>
                                        <li>Parallax</li>
                                        <li>Portfolio Projects</li>
                                        <li>Pricing List</li>
                                        <li>Pricing Table</li>
                                        <li>Process</li>
                                    </ul>
                                </div>
                                <div class="col-sm-2">
                                    <span style="color: #9e9e9e;font-size: 12px;">PAGINATION TYPES</span>
                                    <ul class="item-list" style="list-style: none;">
                                        <li>Progress Bar</li>
                                        <li>Services Table</li>
                                        <li>Shop Category</li>
                                        <li>Social Networks</li>
                                        <li>WIDSubscribe FormGETS</li>
                                        <li>Tabs</li>
                                        <li>Team Member</li>
                                        <li>Testimonial</li>
                                        <li>Video</li>
                                    </ul>
                                </div>
                                <div class="col-sm-2">
                                    <span style="color: #9e9e9e;font-size: 12px;">HOVER EFFECTS</span>
                                    <ul class="item-list" style="list-style: none;">
                                        <li>Standard</li>
                                        <li>Centered</li>
                                        <li>With Center Logo</li>
                                        <li>With Top Logo</li>
                                        <li>Sidebar Wide</li>
                                        <li>Sidebar Top Hamburger</li>
                                        <li>Sidebar Center Hamburger</li>
                                    </ul>
                                </div>
                                <div class="col-sm-2">
                                    <span style="color: #9e9e9e;font-size: 12px;">APPEAR EFFECTS</span>
                                    <ul class="item-list" style="list-style: none;">
                                        <li>Standard Hamburger</li>
                                        <li>Centered Hamburger</li>
                                        <li>Creative Hamburger</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li style="position: relative;" class="click-to-show2">Pages <img class="logo"
                            style="height: 15px;width: 15px;" src="assets/icon/down-arrow.png" alt="">
                        <div class="drop-down2">
                            <ul class="item-list2">
                                <li class="drop-down3" style="position: relative;">About <i class="fa fa-plus"
                                        style="margin-left: auto;"></i>
                                    <ul class="iteam-list3" style="position: absolute;">
                                        <li>About us</li>
                                        <li>About Classic</li>
                                        <li>Hey we're ohio</li>
                                        <li>Our Bureau</li>
                                        <li>Our Studio</li>
                                        <li>About Creativty</li>
                                    </ul>
                                </li>
                                <li class="drop-down3" style="position: relative;">Contact <i class="fa fa-plus"></i>
                                    <ul class="iteam-list3" style="position: absolute;">
                                        <li>Contact:Agency</li>
                                        <li>Contact:Blocks</li>
                                        <li>Contact:Classic</li>
                                        <li>Contact:Coprate</li>
                                        <li>Contact:Simple</li>
                                        <li>Contact:Creative</li>
                                    </ul>
                                </li>
                                <li class="drop-down3" style="position: relative;">Special Page <i
                                        class="fa fa-plus"></i>
                                    <ul class="iteam-list3" style="position: absolute;">
                                        <li>404 Page</li>
                                        <li>Comiing Soon</li>
                                        <li>Search Result</li>
                                        <li>Sign Up</li>
                                    </ul>
                                </li>

                            </ul>
                        </div>
                    </li>
                    <li>Help <img class="logo" style="height: 15px;width: 15px;" src="assets/icon/down-arrow.png"
                            alt=""></li>
                    <li>Changelog <span
                            style="border: 2px solid; padding: 0 5px; font-size: 11px;background-color: #000;color: #fff;border-radius: 5px;border: none;font-weight: 700;">v3.0</span>
                    </li>
                </ul>
            </div>
        </div>

        <div style="width: 20%;">
            <button
                style="padding: 5px 15px;background-color: #000;color: #fff;font-weight: 700;font-size: 14px;border: none;border-radius: 5px;">Getting
                Started</button>
        </div>
    </nav>
</section>
