<section>
  <div class="service">
    <img class="imgLeft" src="../../assets/image/about/image-left.png" alt="">
    <img class="imgRight" src="../../assets/image/about/Image-right.png" alt="">
    <h1 class="t-1">Service</h1>
  </div>

  <div class="service-head">
    <h2 style="display: inline;">We Offer</h2>
    <h2 style="display: inline; color: #570d12;"> Professional</h2>
    <h2 style="display: inline;">Web</h2>
    <h2>Design Services</h2>
    <p>We offer professional web design services at affordable rates to help your business <br /> attract more
      visitors and keep them on your site!</p>
  </div>

  <div class="row service-detail">

    <!-- first coloum -->
    <div class="col-sm-2 coloum"></div>
    <div class="col-sm-4 ">
      <div class="box coloum">
        <div class="box-icon">
          <div class="icon">
            <i class="bi bi-cloud-hail"></i>
          </div>
          <div class="icon2">
            <i class="bi bi-arrow-right "></i>
          </div>
        </div>

        <div class="cont_box">
          <div class="tittle">
            <h3>Web Development</h3>
          </div>
          <div class="discription">
            <p>We start from structuring information architecture and mapping out functionalities. We start
              from structuring information architecture and mapping out functionalities.</p>
          </div>
        </div>
      </div>

    </div>
    <div class="col-sm-4 coloum">
      <div class="image">
        <img src="../../assets/image/service/image-1.png" alt="">
      </div>
    </div>
    <div class="col-sm-2 coloum"></div>
    <!-- first coloum end -->

    <!-- Second coloum -->
    <div class="col-sm-2 coloum"></div>
    <div class="col-sm-4 coloum">
      <div class="image">
        <img src="../../assets/image/service/image-2.png" alt="">
      </div>
    </div>
    <div class="col-sm-4 ">
      <div class="box coloum">
        <div class="box-icon">
          <div class="icon">
            <i class="bi bi-cart-dash"></i>
          </div>
          <div class="icon2">
            <i class="bi bi-arrow-right "></i>
          </div>
        </div>

        <div class="cont_box">
          <div class="tittle">
            <h3>E - commerce</h3>
          </div>
          <div class="discription">
            <p>We build digital shopping experiences to meet ambitious sales goals for your e-commerce
              business. We build sites to meet ambitious sales goals for your business.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-2 coloum"></div>
    <!-- Second coloum end -->

    <!-- 3rd coloum  -->
    <div class="col-sm-2 coloum"></div>
    <div class="col-sm-4 ">
      <div class="box coloum">
        <div class="box-icon">
          <div class="icon">
            <i class="bi bi-clipboard2-heart"></i>
          </div>
          <div class="icon2">
            <i class="bi bi-arrow-right "></i>
          </div>
        </div>

        <div class="cont_box">
          <div class="tittle">
            <h3>App Development</h3>
          </div>
          <div class="discription">
            <p>Our professional app developers build custom mobile apps to assist in the growth of your
              business. Our professional app developers build custom mobile apps to assist in the growth
              of your business.
            </p>
          </div>
        </div>
      </div>

    </div>
    <div class="col-sm-4 coloum">
      <div class="image">
        <img src="../../assets/image/service/image-3.png" alt="">
      </div>
    </div>
    <div class="col-sm-2 coloum"></div>
    <!-- 3rd coloum end -->


    <!-- 4th coloum  -->
    <div class="col-sm-2 coloum"></div>
    <div class="col-sm-4 coloum">
      <div class="image">
        <img src="../../assets/image/service/image-4.png" alt="">
      </div>
    </div>
    <div class="col-sm-4 ">
      <div class="box coloum">
        <div class="box-icon">
          <div class="icon">
            <i class="bi bi-search"></i>
          </div>
          <div class="icon2">
            <i class="bi bi-arrow-right "></i>
          </div>
        </div>

        <div class="cont_box">
          <div class="tittle">
            <h3>SEO optimization</h3>
          </div>
          <div class="discription">
            <p>Culmination of website content and off-site presence to improve rankings in the major search
              engines. Culmination of website content presence to improve rankings in the major search
              engines.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-2 coloum"></div>
    <!-- 4th coloum end -->


    <!-- 5th coloum  -->
    <div class="col-sm-2 coloum"></div>
    <div class="col-sm-4 ">
      <div class="box coloum">
        <div class="box-icon">
          <div class="icon">
            <i class="bi bi-clipboard2-heart"></i>
          </div>
          <div class="icon2">
            <i class="bi bi-arrow-right "></i>
          </div>
        </div>

        <div class="cont_box">
          <div class="tittle">
            <h3>Team Work</h3>
          </div>
          <div class="discription">
            <p>Our professional app developers build custom mobile apps to assist in the growth of your
              business. Our professional app developers build custom mobile apps to assist in the growth
              of your business.
            </p>
          </div>
        </div>
      </div>

    </div>
    <div class="col-sm-4 coloum">
      <div class="image">
        <img src="../../assets/image/service/image-3.png" alt="">
      </div>
    </div>
    <div class="col-sm-2 coloum"></div>
    <!-- 5th coloum end -->
  </div>
</section>


