<section class="home">
    <div>
        <h1>{{'weOfferFuture' | translate}} <br /> {{'digitalRight' | translate}}</h1>
        <h2>VIRTUAL GOAL INTL</h2>
    </div>
        
</section>



<br>
<br>

<br>

<section class="main-section">
    <section class="virtual-box-section">
        <div class="container virtual-box">
            <div class="virtualHead">
                <span>{{'WelcomeToVirtualGoal' | translate}}</span>
                <h5>VIRTUAL GOAL INTL IS A FINTECH</h5>
            </div>
            <br>
            <div class="hrLine" >
                <div class="line1">

                </div>
            </div>
            <br><br><br><br>
            <div  class="row virtualInfo">
                <div class="col-sm-6 virtualInfoImg">
                    <img src="/assets/home1.jpg" alt="">
                </div>
                <div class="col-sm-6"> <br>
                    <h4>
                        {{'tellUs' | translate}}
                    </h4>
                    <hr>
                    <p>{{'tellUsDes' |
                        translate}}</p>
                </div>
            </div>
        </div>
    </section>

    <section>

        <div class="container imageHead">
            <div class="col-sm-12 mt-5 ">
                <h4>{{'pleaseDrag' | translate}}</h4>
            </div>
            <br>
            <div>
                <div>
                    <div class="row">
                        <div class="col-sm-4 imageMessageBox">
                            <div>
                                <div class="message-box">
                                    <img class="image" src="../../assets/1.jpg" alt="">
                                    <div class="hover-box">
                                        <div class="overlay-text">
                                            <div class="mt-4">
                                                <span>{{'whoAreWe' | translate}}</span>
                                            </div><br><br>
                                            <div>
                                                <p>{{'aGroupOfExperts' | translate}} <br> 
                                                   
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 imageMessageBox ">
                            <div>
                                <div class="message-box">
                                    <img class="image" src="../../assets/2.jpg" alt="">
                                    <div class="hover-box">
                                        <div class="overlay-text">
                                            <div class="mt-4">
                                                <span>{{'whyChooseUs' | translate}}</span>
                                            </div><br><br>
                                            <div>
                                                <p>
                                                    {{'someWillSay' | translate}}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 imageMessageBox ">
                            <div>
                                <div class="message-box">
                                    <img class="image" src="../../assets/3.jpg" alt="">
                                    <div class="hover-box">
                                        <div class="overlay-text">
                                            <div class="mt-4">
                                                <span>{{'ourMission' | translate}}</span>
                                            </div><br><br>
                                            <div>
                                                <p> {{'peoplesLives' | translate}}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 imageMessageBox ">
                            <div>
                                <div class="message-box">
                                    <img class="image" src="../../assets/4.jpg" alt="">
                                    <div class="hover-box">
                                        <div class="overlay-text">
                                            <div class="mt-4">
                                                <span>{{'ourVision' | translate}}</span>
                                            </div><br><br>
                                            <div>
                                                <p>
                                                    {{'innovatorInSector' | translate}}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 imageMessageBox ">
                            <div>
                                <div class="message-box">
                                    <img class="image" src="/assets/5.jpg" alt="">
                                    <div class="hover-box">
                                        <div class="overlay-text">
                                            <div class="mt-4">
                                                <span>TBD</span>
                                            </div><br><br>
                                            <div>
                                                <p>TBD
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 imageMessageBox ">
                            <div>
                                <div class="message-box">
                                    <img class="image" src="/assets/6.jpg" alt="">
                                    <div class="hover-box">
                                        <div class="overlay-text">
                                            <div class="mt-4">
                                                <span>TBD</span>
                                            </div><br><br>
                                            <div>
                                                <p>TBD
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<br>
<br>


<div style="position: fixed;right: 25px;bottom: 25px;">
    <div id="button" class="icon" style="height: 45px;width: 45px;background-color: rgb(180, 175, 175);border-radius: 50%;
    display: flex;justify-content: center;align-items: center;">
        <i style="color: white;" class="fa fa-chevron-up "></i>
    </div>
</div>