<h1>hello</h1>
<h1>hello</h1>
<h1>hello</h1>
<h1>hello</h1>

<div *ngFor="let movie of movies">
  <img [src]="movie.moviePoster" alt="Movie Poster">
  <h2>{{ movie.movieName }}</h2>
</div>


<section style="background-color: #22254b;">
  <div style="background-color: #373b69; padding: 16px; display: flex; justify-content: end;">
    <div>
      <input class="search" type="text" placeholder="Search">
    </div>
  </div>
  <div class="row" style="padding: 16px;">
    <div class="col-sm-3">
      <div class="movie">
        <img style="width: 100%;" src="../../assets/img/movie1.jpg" alt="">
        <div class="movieInfo">
          <h3>Meg 2: The Trench</h3>
          <span>7</span>
        </div>
        <div class="overview">
          <h3>Overview</h3>
          <span>An exploratory dive into the deepest depths of the ocean of a daring research team spirals into chaos
            when a
            malevolent mining operation threatens their mission and forces them into a high-stakes battle for
            survival.</span>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="movie">
        <img style="width: 100%;" src="../../assets/img/movie2.jpg" alt="">
        <div class="movieInfo">
          <h3>Barbie</h3>
          <span>7</span>
        </div>
        <div class="overview">
          <h3>Overview</h3>
          <span>Barbie and Ken are having the time of their lives in the colorful and seemingly perfect world of Barbie Land. However, when they get a chance to go to the real world, they soon discover the joys and perils of living among humans.</span>
        </div>
      </div>

    </div>
    <div class="col-sm-3">
      <div class="movie">
        <img style="width: 100%;" src="../../assets/img/movie3.jpg" alt="">
        <div class="movieInfo">
          <h3>Indiana Jones and the Dial of Destiny</h3>
          <span>7</span>
        </div>
        <div class="overview">
          <h3>Overview</h3>
          <span>Finding himself in a new era, and approaching retirement, Indy wrestles with fitting into a world that seems to have outgrown him. But as the tentacles of an all-too-familiar evil return in the form of an old rival, Indy must don his hat and pick up his whip once more to make sure an ancient and powerful artifact doesn't fall into the wrong hands.</span>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="movie">
        <img style="width: 100%;" src="../../assets/img/movie4.jpg" alt="">
        <div class="movieInfo">
          <h3>Elemental</h3>
          <span>7</span>
        </div>
        <div class="overview">
          <h3>Overview</h3>
          <span>In a city where fire, water, land and air residents live together, a fiery young woman and a go-with-the-flow guy will discover something elemental: how much they have in common.</span>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="movie">
        <img style="width: 100%;" src="../../assets/img/movie5.jpg" alt="">
        <div class="movieInfo">
          <h3>The Nun II</h3>
          <span>9.9</span>
        </div>
        <div class="overview">
          <h3>Overview</h3>
          <span>1956 – France. A priest is murdered. An evil is spreading. The sequel to the worldwide smash hit follows Sister Irene as she once again comes face-to-face with Valak, the demon nun.</span>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="movie">
        <img style="width: 100%;" src="../../assets/img/movie6.jpg" alt="">
        <div class="movieInfo">
          <h3>Sound of Freedom</h3>
          <span>8.8</span>
        </div>
        <div class="overview">
          <h3>Overview</h3>
          <span>In a city where fire, water, land and air residents live together, a fiery young woman and a go-with-the-flow guy will discover something elemental: how much they have in common.</span>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="movie">
        <img style="width: 100%;" src="../../assets/img/movie7.jpg" alt="">
        <div class="movieInfo">
          <h3>Adipurush</h3>
          <span>5.1</span>
        </div>
        <div class="overview">
          <h3>Overview</h3>
          <span>7000 years ago, Ayodhya's Prince Raghava and Prince Sesh along with the Mighty Vanar Warriors travels to the island of Lanka with an aim to rescue Raghava's wife Janaki, who has been abducted by Lankesh, the king of Lanka.</span>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="movie">
        <img style="width: 100%;" src="../../assets/img/movie8.jpg" alt="">
        <div class="movieInfo">
          <h3>The Last Voyage of the Demeter</h3>
          <span>6.9</span>
        </div>
        <div class="overview">
          <h3>Overview</h3>
          <span>The crew of the merchant ship Demeter attempts to survive the ocean voyage from Carpathia to London as they are stalked each night by a merciless presence onboard the ship.</span>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="movie">
        <img style="width: 100%;" src="../../assets/img/jawan.jpg" alt="">
        <div class="movieInfo">
          <h3>Jawan</h3>
          <span>10</span>
        </div>
        <div class="overview">
          <h3>Overview</h3>
          <span>A man is driven by a personal vendetta to rectify the wrongs in society, while keeping a promise made years ago. He comes up against a monstrous outlaw with no fear, who's caused extreme suffering to many.</span>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="movie">
        <img style="width: 100%;" src="../../assets/img/myNameIsKhan.jpg" alt="">
        <div class="movieInfo">
          <h3>My Name Is Khan</h3>
          <span>9.09</span>
        </div>
        <div class="overview">
          <h3>Overview</h3>
          <span>Rizwan Khan, a Muslim from the Borivali section of Mumbai, has Asperger's syndrome. He marries a Hindu single mother, Mandira, in San Francisco. After 9/11, Rizwan is detained by authorities at LAX who treat him as a terrorist because of his condition and his race.</span>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="movie">
        <img style="width: 100%;" src="../../assets/img/movie8.jpg" alt="">
        <div class="movieInfo">
          <h3>The Last Voyage of the Demeter</h3>
          <span>6.9</span>
        </div>
        <div class="overview">
          <h3>Overview</h3>
          <span>The crew of the merchant ship Demeter attempts to survive the ocean voyage from Carpathia to London as they are stalked each night by a merciless presence onboard the ship.</span>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="movie">
        <img style="width: 100%;" src="../../assets/img/movie8.jpg" alt="">
        <div class="movieInfo">
          <h3>The Last Voyage of the Demeter</h3>
          <span>6.9</span>
        </div>
        <div class="overview">
          <h3>Overview</h3>
          <span>The crew of the merchant ship Demeter attempts to survive the ocean voyage from Carpathia to London as they are stalked each night by a merciless presence onboard the ship.</span>
        </div>
      </div>
    </div>
  </div>

</section>
