<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">
        Components
    </div>
    <div class="page__content shadow p-3 position-relative">
        <div class="data">
            <p>A normal, boring paragraph. Try not to fall asleep.</p>

            <p class="exciting">The most exciting paragraph on the page. One of a kind!</p>
        </div>

        <dl itemscope itemtype="https://schema.org/Book" itemid="urn:isbn:0-374-22848-5<">
            <dt>Title</dt>
            <dd itemprop="title">Owls of the Eastern Ice</dd>
            <dt>Author</dt>
            <dd itemprop="author">Jonathan C Slaght</dd>
            <dt>Publication date</dt>
            <dd>
                <time itemprop="datePublished" datetime="2020-08-04">August 4 2020</time>
            </dd>
        </dl>

        <br><br><br>
        <div itemscope itemtype="http://schema.org/Product">
            <span itemprop="name">Panasonic White 60L Refrigerator</span>
            <img src="panasonic-fridge-60l-white.jpg" alt="" />
            <div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
                <meter itemprop="ratingValue" min="0" value="3.5" max="5">
                    Rated 3.5/5
                </meter>
                (based on <span itemprop="reviewCount">11</span>
                customer reviews)
            </div>
        </div>

        <div itemscope itemtype="https://schema.org/Movie">
            <h1 itemprop="name">Avatar</h1>
            <span>
                Director: <span itemprop="director">James Cameron</span> (born August 16,
                1954)
            </span>
            <span itemprop="genre">Science fiction</span>
            <a href="https://youtu.be/0AY1XIkX7bY" itemprop="trailer">Trailer</a>
        </div>


        <button popovertarget="my-popover">Open Popover</button>

        <div popover id="my-popover"><button>Greetings, one and all!</button></div>


        <br><br>
        <p contenteditable spellcheck="true">This exampull will be checkd fur spellung when you try to edit it.</p>

        <p contenteditable spellcheck="false">This exampull will nut be checkd fur spellung when you try to edit it.</p>


        <br><br>
        <div style="background: #ffe7e8; border: 2px solid #e66465">
            <p style="margin: 15px; line-height: 1.5; text-align: center">
                Well, I am the slime from your video<br />
                Oozin' along on your livin' room floor.
            </p>
        </div>



    </div>
</div>


<!-- <div class="container">
  <div class="decorative-line"></div>
  <div class="title">
    Shayari Theme Bottom of Heart
  </div>
  <div class="decorative-line"></div>
</div> -->
